@mixin button($background: #0d6efd, $hovereffect: #0d6efdb7, $focus: 0 0 0 0.25rem rgb(49 132 253 / 50%), $disabled: rgb(49 132 253 / 50%), $padding: .625rem, $border-color: rgb(49 132 253 / 50%)) {
    outline: 0;
    padding: $padding;
    background-color: $background;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    margin-right: 2rem;
    color: white;
    border: 1px solid $border-color;
        & {
            &:enabled {
                &:hover {
                    background-color: $hovereffect;
                }
                &:active {
                    transform: scale(.98);
                }
            }
            &:disabled {
                cursor: not-allowed;
                background-color: $disabled;
            }
            &:focus-visible {
                box-shadow: $focus;
            }
            svg {
                margin-bottom: 4px;
            }
        }
}
@mixin transparentButton($background: transparent, $hovereffect: rgb(31 31 31 / 1), $focus: 0 0 0 0.25rem rgb(31 31 31 / 1), $disabled: transparent, $padding: .500rem) {
    outline: 0;
    padding: $padding;
    background-color: $background;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    margin-right: 2rem;
    color: white;
    border: 0;
        & {
            &:enabled {
                &:hover {
                    background-color: $hovereffect;
                }
                &:active {
                    transform: scale(.98);
                }
            }
            &:disabled {
                cursor: not-allowed;
                background-color: $disabled;
            }
            &:focus-visible {
                box-shadow: $focus;
            }
            svg {
                margin-bottom: 4px;
            }
        }
}