@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    height: 78vh;
}
.content {
    flex: 1;
}
.footer-container {
    text-align: center;
    margin-top: auto;
    font-family: "League Spartan", sans-serif;
        .p__muted {
            opacity: .5;
        }
}