@media (prefers-color-scheme: dark) {
    :root {
        --containerbg: rgba(20, 20, 20, 0.452);
        --color: white;
        --box-shadow: 0 0 30px 2.5px #0a0a0a;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --containerbg: rgb(58, 58, 58, 0.452);
        --color: black;
        --box-shadow: 0 0 30px 2.5px #8f8f8f;
    }
}
@keyframes marqueeoth {
    0% {
        transform: translateX(115%);
    }
    100% {
        transform: translateX(-80%);
    }
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
        &__item {
            background: rgb(58, 58, 58, 0.452);
            color: white !important;
            backdrop-filter: blur(10px);
            border: 1px solid;
            box-shadow: 0 0 30px 2.5px #0a0a0a;
            border-color: rgb(51 51 51 / 1);
            padding: 1rem;
            border-radius: .50rem;
            transition: .5s;
                &:hover {
                    box-shadow: 0 0 30px 2.5px rgb(32, 32, 32) !important;
                }
                svg {
                    margin-bottom: 4px;
                }
        }
}
.insidecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
        &__item {
            border-radius: 0.5rem;
            padding: 1rem;
            background: linear-gradient(180deg, rgba(74, 74, 74, 0.342) 0%, rgba(43, 43, 43, 0.342) 100%);
            max-width: 30%;
        }
}
.span {
        &__underlined {
            text-decoration: underline;
            text-underline-offset: 2px;
            text-decoration-color: rgba(255, 166, 0, 0.5);
            transition: .5s;
                &:hover {
                    text-decoration-color: orange;
                }
        }
        &__muted {
            color: rgb(77, 77, 77);
            font-size: 13px;
            transition: .5s;
                &:hover {
                    font-size: 1rem;
                    color: white;
                }
        }
}
h1 {
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: row;
        .nbrdd1v {
            padding: 0.3rem;
            border-radius: 7px;
            margin-right: 0.5rem;
                .icon {
                    font-size: 32px;
                    padding-top: 2px;
                    vertical-align: middle;
                        &.youtube {
                            color: red;
                        }
                        &.discord {
                            color: #5865f2;
                        }
                        &.github {
                            color: rgb(129, 51, 255);
                        }
                }
        }
}
.marque-item {
    display: inline-block;
    margin-right: 1rem;
    padding: .5rem;
    background-color: rgb(49, 49, 49);
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgb(51 51 51 / 1);
    border-width: 1px;
    align-items: center;
    border-radius: 10px;
    transition: .2s;
        &:hover {
           background-color: rgb(70, 70, 70);
           cursor: pointer;
        }
}
.marquee-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 2px;
    width: 25.1875rem;
        &__item {
            display: flex;
            vertical-align: middle;
            margin-right: 1rem;
            padding: .5rem;
            background-color: rgb(49, 49, 49);
            backdrop-filter: blur(10px) !important;
            border: 1px solid rgb(51 51 51 / 1);
            border-width: 1px;
            align-items: center;
            border-radius: 10px;
            transition: .2s;
            height: 2.7rem;
                &:hover {
                    background-color: rgb(70, 70, 70);
                    cursor: pointer;
                }
                img {
                    margin-bottom: 2px;
                }
        }
}
.oth {
    animation: marqueeoth 15s linear infinite !important;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.card-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}